@page "/"
@using portfolioVision.composants.navbar
@using portfolioVision.composants.hautPage
@using portfolioVision.composants.paragrapheSimple
@using portfolioVision.composants.grandTitre
@using portfolioVision.composants.carteFortaits
@using portfolioVision.composants.reseaux

<PageTitle>Agence-Vision</PageTitle>

<Navbar/>

<HautPage/>

<ParagrapheSimple Texte="
    Vous êtes à la recherche d'un monteur vidéo pour vos projets sur les réseaux sociaux tels que Youtube, Shorts, TikTok, 
    ou Instagram, vous êtes au bon endroit ! Vision est une petit entreprise créée par 2 monteur vidéos indépendants voulant
     mettre en avant des montages modernes et tendances."/>

<GrandTitre Texte="Services"/>

<div class="sectionCartes">
    <div class="carteForfaits">
        <CarteForfaits Titre="@TitreCarte1" Caracteristiques="@CaracteristiquesCarte1" Prix="@PrixCarte1" />
    </div>

    <div class="carteForfaits">
        <CarteForfaits Titre="@TitreCarte2" Caracteristiques="@CaracteristiquesCarte2" Prix="@PrixCarte2" 
            Description="(TARIF HORAIRE, SOUS DEVIS)"/>
    </div>  
    
</div>

<GrandTitre Texte="Contact" />

<Reseaux ListeReseaux="@Reseaux"/>






